body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width:  100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(33, 96, 33);
}
.container{
    padding:  20px;
   
}
.container img {
    width: 150px ;
    margin-left: 99px;
}

.result {
    color: aliceblue;
    font-size: 32px;
    margin-left:666px;
}

button{
    
}