body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 150px;
    padding: 20px;
}
input {
    width: 90%;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px solid rgb(0, 0, 0);
}
button{
    background-color: black;
    color: aliceblue;
    margin-top: 5px;
    margin-left: 80px;
}
p{
    color: darkred;
    font-size: 100px;
}