* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #e8ebf7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    position: relative;
}

.trigger{
    background: #ffa500;
    outline: none;
    padding: 8px 15px;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 32px;
    box-shadow: 0px 1px 5px silver;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.trigger:hover{
    box-shadow: 0 4px 6px silver;
}

.full-screen-nav{
    display: none;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    transition: 0.3s ease-in-out;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    cursor: pointer;
    animation: fade 0.5s ease-in-out forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
}

@keyframes list {
    from {
        margin-top: -60px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

ul li a {
    text-decoration: none;
    color:#ccc;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

ul li {
    list-style: none;
    text-align: center;
    margin-top: 30px;
    animation: 0.3s ease-in-out list forwards;
}

ul {
    z-index: 100;
    position: relative;
}

ul li a:hover,
ul li i {
    color:#ffa500;
}

.open {
    display: flex;
    justify-content: center;
    align-items: center;
}