* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(37, 35, 35);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    z-index: 10;
    margin: 1000px;
    border: none;
    outline: none;
    font-size: 0.2px;
    background-color :rgba(230, 227, 227, 0.822);
    padding: 15px 30px;
}
.block{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: azure;
    box-shadow: -1px -1px 3px black;
}
.block:nth-child(3n+2){
    background-color: orangered;

}

.block:nth-child(3n+3){
    background-color: rgb(0, 255, 42);

}

